{% for flux in flux_rss %}

<legend>{{flux.title}}</legend>
	<ul class="unstyled fluxrss">
				{% for entity in flux.items %}
					<li>
						{% if flux.link %}<a href="{{ entity.link }}">{{ entity.title }}</a>{% endif %}
                        {% if flux.description %}
						<p>
							{{ entity.description|raw }}
						</p>
                        {% endif %}
					</li>
				{% endfor %}
	</ul>
{% endfor %}