	<ul class="nav">
		<li class="dropdown">
		  <a href="#" class="dropdown-toggle" onclick="$('#form_video').toggle();">+</a>
		  <ul id="form_video" style="display:none;">
			  {{form_rest(form_video)}}
		  </ul>
		</li>
	</ul>
<script type="text/javascript">
	$(document).ready(function()
	{
		$('#video_lien').change(function()
		{
			//fonction magique qui prend l'url et renvoi un tableau avec l'artist et la songname guess
			$.ajax();
		});
	});
</script>