{% extends "MongoeatVoteBundle::layout.html.twig" %}

{% form_theme form 'MongoboxCoreBundle:Form:mongobox_form_theme.html.twig' %}

{% block body -%}
    <h1>Voter pour un resto</h1>

    <form class="form-horizontal" action="{{ path('vote_create',{'id':entity.decision.id}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <div class="form-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Voter</button>
            </div>
        </div>
    </form>

    <p>
        <a class="btn btn-default" href="{{ path('wall_index') }}">
            <i class="icon-repeat" style="margin-right: 5px"></i>Revenir à Mongobox
        </a>
    </p>

{% endblock %}
