<div class="bookmark-list">
	{{ video.title }}
	<button class="btn-link pull-right btn-tooltip btn-remove-bookmark-list" title="Supprimer la vidéo de cette liste" href="{{ path('remove_bookmark_list_action', {'id_list': list.id, 'id_video': video.id}) }}">
		<i class="glyphicon glyphicon-trash"></i>
	</button>
	<button class="btn-link pull-right btn-tooltip" title="Ajoutée à la liste le {{ date|date('d/m/Y') }}">
		<i class="glyphicon glyphicon-time"></i>
	</button>
</div>
