{% extends "MongoboxJukeboxBundle:Wall:layout.html.twig" %}

{% block title -%}- Accueil{%- endblock title %}

{% block body %}

<div id="tumblr">
    {% render controller("MongoboxTumblrBundle:Tumblr:slider") %}
</div>

<div class="hero-unit" style="clear: both;">
	<div class="row-fluid">
		<div class="span6">
			<div id="statistiques">
				{% include "MongoboxJukeboxBundle:Wall/Blocs:statistiques.html.twig" %}
			</div>
			<div id="propose-votes">
			</div>
		</div>
		<div class="span6">
			<div id="flux_rss">
				{#% render controller("MongoboxJukeboxBundle:Wall:fluxRss") %#}
			</div>
		</div>
	</div>
</div>
{% endblock body %}

{% block javascripts %}
<script src="{{ asset('bundles/mongoboxcore/js/wall.js') }}"></script>
{% endblock javascripts %}