
{% block body -%}
    <h1>Nouveau restaurant</h1>

    <form action="{{ path('restaurant_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Créer</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('restaurant') }}">
            Retour à la liste
        </a>
    </li>
</ul>
{% endblock %}
