.content-block-bookmark { width: 95%; }

.content-lists-bookmark {
	display:none;
	position:absolute;
	padding:5px;
	margin:0.7% 0 0 0;
	border: 1px solid lightgray;
	background-color: #e6e6e6;

	-webkit-border-radius: 10px;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius: 10px;
	-moz-border-radius-topright: 0;
	border-radius: 10px;
	border-top-right-radius: 0;
}

.info-fav {
	padding-left: 30px;
	border-left: 1px solid black;
}

.btn-actions-bookmark, .btn-actions-list-remove {
	cursor: pointer;
}
.btn-actions-bookmark:hover {
	background-color: #e6e6e6;
	text-decoration: none;
	color: #000000;
}

.btn-lists-bookmark.active { box-shadow: none; }

.btn-actions-list-remove:hover {
	background-color: lightgray;
}