/*.content-block-bookmark { width: 95%; }*/

.content-block-hidden-div-bookmark {
	display:none;
	position:absolute;
	padding:5px;
	margin:0.7% 0 0 0;
	border: 1px solid lightgray;
	background-color: #e6e6e6;

	border-radius: 0;
}

.info-fav {
	padding-left: 30px;
	border-left: 1px solid black;
}

.btn-actions-bookmark, .btn-actions-list-remove {
	cursor: pointer;
}
.btn-actions-bookmark:hover {
	background-color: #e6e6e6;
	text-decoration: none;
	color: #000000;
}

.btn-actions-bookmark.active { box-shadow: none; }

.btn-actions-list-remove:hover {
	background-color: lightgray;
}

.imgbox, .actions-content, #modal_add_list > div, .ajax-loader-div-hidden, #modal_add_bookmark_list > div
{ text-align: center; }

.un-favoris {
	width: 20%;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.FavorisTdIsOver {
	box-shadow: 1px 1px 12px black;
}

#liste-favoris img { margin: 0 auto; }

#liste-favoris > tbody > tr { height: 200px; }

.alertify-logs { top: 80px; }

.listes-content {
	list-style-type: none;
	border-right: 1px solid black;
	padding-right: 10px;
}

.une-liste {
	height: 50px;
	cursor: pointer;
	padding: 5px;
}

.une-liste:hover {
	border: 1px solid black;
}

#img-loader-edit-name {
	margin-bottom: 10px;
}

.ui-autocomplete {
	z-index: 2000 !important;
}

.no-bullet-please {
	list-style-type: none;
}

.list-favoris-import {
	clear: both;
}

.list-favoris-import li {
	margin-left: 4%;
}

.span-link {
	cursor: pointer;
	color: cornflowerblue;
	margin: 0;
}

.list-import {
	clear: both;
}
