{% extends "MongoboxJukeboxBundle:Wall:layout.html.twig" %}

{% block title -%}- Accueil{%- endblock title %}

{% block body %}

{#}<div class="hero-unit" style="text-align:center;">
    	<h2>Top des 7 derniers jours</h2>
    	{% include 'MongoboxTumblrBundle:Tumblr:unTumblr.html.twig' with { 'nom_affichage_tumblr': 'tumblr_slider_top7', 'mongo_pute': top7, 'top': true} %}

    	<h2>Top des 30 derniers jours</h2>
    	{% include 'MongoboxTumblrBundle:Tumblr:unTumblr.html.twig' with { 'nom_affichage_tumblr': 'tumblr_slider_top30', 'mongo_pute': top30, 'top': true} %}

    	<h2>Top de tous les temps</h2>
    	{% include 'MongoboxTumblrBundle:Tumblr:unTumblr.html.twig' with { 'nom_affichage_tumblr': 'tumblr_slider_topTumblr', 'mongo_pute': topTumblr, 'top': true} %}
</div>{#}
{% endblock body %}