parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     mongobox
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    websockets_port: 8080

    live_max_dislikes: 2
    next_putsch_waiting: 15

    foursquare_id:
    foursquare_secret:

    # Google API
    google_app_name:
    google_developer_key:
