<tr>
	<td>
		{{ liste.name }} | depuis le {{ liste.date_favoris|date('d/m/Y à H:i') }}
	</td>
	<td>
		<a href="{{ path('remove_video_liste', {'id_video': video.id, 'id_liste': liste.id}) }}" class="btn btn-link btn-actions-list-remove" title="Supprimer la vidéo de cette liste">
			<i class="icon-trash"></i>
		</a>
	</td>
</tr>