<div>
	{{ video.title }}
	<button class="btn-link pull-right btn-tooltip" title="Supprimer la vidéo de cette liste"><i class="icon-trash"></i></button>
	<button class="btn-link pull-right btn-tooltip" title="Ajoutée à la liste le {{ date|date('d/m/Y') }}"><i class="icon-time"></i></button>
</div>
