<input type="text" value="{{ list.name }}" class="input-submitting-list-name" style="display:none;" /><span class="list-name">{{ list.name }}</span> <button class="btn-edit-list-name btn-link btn-tooltip" title="Modifier le titre de la liste" data-action="editing"><i class="icon-pencil"></i></button>
<div class="list-details-bookmarks">
	{% for bookmark in bookmarks %}
		{% include 'MongoboxUsersBundle:Listes:unFavorisDansListeDetails.html.twig' with { 'video': bookmark.video, 'date': bookmark.date } %}
	{% else %}
		Vous n'avez aucune vidéo dans cette liste
	{% endfor %}
</div>
