<span class="list-name">{{ list.name }}</span>
<div class="list-details-bookmarks">
	{% for bookmark in bookmarks %}
		{% include 'MongoboxUsersBundle:Listes:unFavorisDansListeDetails.html.twig' with { 'video': bookmark.video, 'date': bookmark.date } %}
	{% else %}
		Vous n'avez aucune vidéo dans cette liste
	{% endfor %}
</div>
