{% extends "MongoboxUsersBundle:User:layout.html.twig" %}

{% block title -%}- Listes favoris{%- endblock title %}

{% block body %}
<div class="hero-unit">
	{% include 'MongoboxUsersBundle:Favoris:navigation.html.twig' %}

	<div class="row-fluid">
		<div class="span6">
			<ul class="listes-content">
			{% for liste in listes %}
				{% include 'MongoboxUsersBundle:Listes:uneListe.html.twig' %}
			{% else %}
				<li class="no-list">Vous n'avez pas de listes.</li>
			{% endfor %}
			</ul>
		</div>
		<div class="hide ajax-loader-div-hidden">
			<img alt="Chargement" src='{{ asset('bundles/mongoboxjukebox/img/ajax-loader-tumblr-add.gif') }}' />
		</div>
		<div class="span6" id="details-liste">
			Veuillez séléctionner une liste pour afficher les vidéos
		</div>
	</div>
</div>

<div class="modal hide fade" id="modal_add_bookmark_list">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Ajout d'un favoris à la liste</h3>
	</div>
	<div class="modal-body">
		<div class="input-prepend">
			<span class="add-on"><i class="icon-pencil"></i></span>
			<input class="span2" id="add-bookmark-name" type="text" placeholder="Le titre de la vidéo">
			<input type="hidden" id="hid-bookmark-id" />
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
		<a id="btn-submit-bookmark" class="btn btn-primary" data-loading-text="<img src='{{ asset('bundles/mongoboxusers/img/ajax-loader-list.gif') }}' alt='Chargement' />">Confirmer</a>
	</div>
</div>
{% endblock %}

{% block css %}
	<link href="{{ asset('bundles/mongoboxusers/css/favoris.css') }}" rel="stylesheet">
{% endblock css %}

{% block javascripts %}
	<script src="{{ asset('bundles/mongoboxusers/js/listes.js') }}"></script>
{% endblock javascripts %}
