.star
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

.popover { max-width: none; }
.popover-inner { width: auto; }
.img-tumblr-big img { max-width: none; }
.tumblr-img-bloc img { cursor: pointer; }
#tumblr { text-align: center; }
.img-tumblr-big, .note-globale, .moyenne-globale { text-align: center; }

.tumblr-img-bloc, .tumblr-img-bloc img { max-width: 100%; }

.groups-diffusion
{
	text-align: center;
	margin-top: 5px;
	border-top: 1px black solid;
	padding-top: 5px;
}

.tumblr-info-votes { cursor:pointer; }

/* Tumblr Tags */
.ui-helper-hidden-accessible{
    display: none;
}

#tumblr_tags .tag-item{
    display: inline-block;
    margin: 0 3px;
}

#tumblr_tags .tag-item span
{
    float: left;
    font-size: 13px;
    padding: 4px 0 0 2px;
}

#tumblr_tags .tag-item button {
    margin: 0 0 0 2px;
    width: 20px;
}

.manage-tags-container .manage-tags{

    display: inline-block;
}

.tags-diffusion
{
	margin-bottom : 5px;
	text-align : center;
}

/* UI Autocomplete */
.ui-menu {
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    outline: none;
}

.ui-widget-content {
    border: 1px solid #aaaaaa;
    border-radius: 0 0 6px 6px;
    background-color: #F4F4F4;
    color: #222222;
}
.ui-autocomplete{
    width: 213px;
}

.ui-menu-item
{
	cursor: pointer;
}

.tumblr-row-page{
    position: relative;
}

.nsfw-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}

.nsfw-mask.active {
    background: #333333 url('../img/nsfw.png') top left no-repeat;
    cursor: pointer;
}

.tumblr-img-bloc {
    display: inline-block;
    position: relative;
}

#tumblr-add-container {
	clear: both;
	position: fixed;
	width: 100%;
	z-index: 1;
}

#btn-add-tumblr-show {
	width: 250px;
	margin: 0 auto;
	margin-top: -5px;
	text-align: center;
	cursor: pointer;
}

#btn-add-tumblr-show .navbar-inner {
	color: white;
	min-height: 20px;
}

#tumblr-add-wall {
	width: 80%;
	margin: 0 auto;
	margin-top: -3px;
	text-align: center;
	height: 300px;

	border-color: #252525;
	border-width: 0 0 1px;
	border: 1px solid #d4d4d4;
	background-color: white;
}

#tumblr {
	margin-top: 20px;
}

#tumblr-add-wall .span4 {
	padding-top: 20px;
	min-height: 250px;
}