{% extends "MongoboxUsersBundle:Secure:layout.html.twig" %}

{% form_theme form 'MongoboxJukeboxBundle:Form:mongobox_form_theme.html.twig' %}

{% block body %}
<div class="hero-unit">
	<h1>{{project_name}}</h1>
</div>
	<h1>Registration</h1>
	<form action="{{ path('registration') }}" class="content-block form-inline" method="POST" {{ form_enctype(form) }} novalidate>
		{{ form_widget(form) }}

		<hr />
		<div>
			<input type="submit" class="btn btn-primary pull-right" value="Register">
		</div>
	</form>
{% endblock body %}