{% extends "MongoboxUsersBundle:User:layout.html.twig" %}

{% form_theme form 'MongoboxCoreBundle:Form:mongobox_form_theme.html.twig' %}

{% block title %} - Confirmation email{% endblock title %}

{% block body %}
    <div class="hero-unit">
        <div class="row-fluid">
            <div class="span12">
                <div class="content-block clearfix">
                    <h2>Confirmation de l'email</h2>
                    <p>Afin de migrer sur une nouvelle gestion des utilisateurs, veuillez confirmer votre adresse mail. Vous recevrez prochainement un mail vous permettant de saisir votre nouveau mot de passe.</p>
                    <form class="form-horizontal" action="{{ path('userold_create') }}" method="post" {{ form_enctype(form) }}>
                        {{ form_widget(form) }}
                        <div class="container-btn clearfix">
                            <input type="submit" class="btn btn-large btn-primary pull-right" value="Enregistrer">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
