/* --------------------------------------------------------

GENERAL

-------------------------------------------------------- */

body {
    padding-top: 40px;
    position: relative;
}

legend
{
	margin-bottom : 5px;
}

.footer {
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-top: 70px;
    padding: 70px 0;
}

.marketing {
    color: #5A5A5A;
    text-align: center;
}

.marketing h1 {
    font-size: 60px;
    font-weight: 200;
    letter-spacing: -1px;
    line-height: 1;
    margin: 40px 0 10px;
}

.hero-unit
{
	padding : 40px;
	font-size : 14px;
}

.photo-small
{
	max-width : 20px;
	max-height : 20px;
}

.thumbnail-hq
{
	float : left;
	max-height : 52px;
}

/* --------------------------------------------------------

Video en cours

-------------------------------------------------------- */

#video_en_cours .progress
{
	height : 16px;
    width : 85%;
    margin-left : 0.1em;
}

#video_infos{
	 width : 60%;
}

#video_infos .title{
	margin-left:0.2em;
}

.navbar .nav > li > a {
	padding: 1.2em 10px 11px;
}

#container_progress-bar span{
 margin-left : 0.2em;
}

#video_en_cours{
	width: 92%;
}

#video_en_cours .user-box{
	display: inline;
    margin-left: 0.5em;
	float: none;
}
#video_en_cours .vote, #video_en_cours .fav-div {
	display : inline;
}
.navbar .navbar-text {
	color : #999;
	line-height : 20px;
}

#add-video-button
{
	margin-top : 13px;
}

.loader
{
	background-image: url('../img/ajax-loader.gif');
	width : 16px;
	height : 16px;
	display : none;
}

#video_en_cours .fav-div a {
	text-decoration: none;
}

/* ---------------------------------

WALL

------------------------------------ */


#statistiques ul li
{
	line-height : 23px;
}

/* ---------------------------------

Flux Rss

------------------------------------ */

#flux_rss ul li
{
	line-height: 20px;
}

/* ----------------------------------

Playlist

------------------------------------ */
.over-highlight:hover
{
	background-color : #e9e9e9;
}

.playlist-icon, .playlist-thumbnail, .playlist-title, .playlist-time, .playlist-vote, .playlist-user
{
	display : block;
	float : left;
}

.playlist-icon, .playlist-thumbnail, .playlist-time, .playlist-vote, .playlist-user
{
	text-align : center;
}

.playlist-icon
{
	width : 20px;
}

.playlist-thumbnail
{
	width : 25px;
}

.playlist-title
{
	width : 336px;
}

.playlist-time
{
	width : 33px;
}

.playlist-vote
{
	width : 65px;
}
.playlist-user
{
}

.edit-video
{
	visibility: hidden;
}

.edit-video-visible
{
	visibility: visible;
}

.total-clear-fix
{
	clear : both;
}

/* ----------------------------------
 Video Title
 ------------------------------------- */
.jukebox-hidden
{
	visibility: hidden;
}

.jukebox-visible
{
	visibility: visible;
}

/* ----------------------------------
 Tags
------------------------------------ */

#container-selected-tags span, #video_tags_list span
{
	float : left;
	list-style-type: none;
	margin-left: 5px;
}

/* ----------------------------------
 Search Video
------------------------------------ */

#search ul, #search ul li
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#search ul li span.song_title
{
	width : 450px;
	display: block;
	float: left;
}

#search ul li a
{
	width : 25px;
	float: left;
}