/* --------------------------------------------------------

GENERAL

-------------------------------------------------------- */

body {
    padding-top: 40px;
    position: relative;
}


.footer {
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-top: 70px;
    padding: 70px 0;
}

.marketing {
    color: #5A5A5A;
    text-align: center;
}

.marketing h1 {
    font-size: 60px;
    font-weight: 200;
    letter-spacing: -1px;
    line-height: 1;
    margin: 40px 0 10px;
}

.hero-unit
{
	padding : 40px;
	font-size : 14px;
}

.photo-small
{
	max-width : 20px;
	max-height : 20px;
}

.thumbnail-hq
{
	float : left;
	max-height : 52px;
}

.user-box
{
	float : right;
}

/* --------------------------------------------------------

Video en cours

-------------------------------------------------------- */

#video_en_cours .progress
{
	height : 16px;
    width : 85%;
    margin-left : 0.1em;
}

#video_infos{
	 width : 60%;
}

#video_infos .title{
	margin-left:0.2em;
}

.navbar .nav > li > a {
	padding: 1.2em 10px 11px;
}

#container_progress-bar span{
 margin-left : 0.2em;
}

#video_en_cours{
	width: 92%;
}

#video_en_cours .user-box{
	display: inline;
    margin-left: 0.5em;
	float: none;
}
#video_en_cours .vote{
	display : inline;
}
.navbar .navbar-text {
	color : #999;
	line-height : 20px;
}

#add-video-button
{
	margin-top : 13px;
}

.loader
{
	background-image: url('../img/ajax-loader.gif');
	width : 16px;
	height : 16px;
	display : none;
}

/* ---------------------------------

WALL

------------------------------------ */


#statistiques ul li
{
	line-height : 23px;
}