body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

.edit-echelon{
	border:1px solid #000;
	float:right;	
}

.chk_dir1{
	margin-left: 15px;
}

.chk_dir2{
    margin-left: 30px;
}