.star
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 20px;
}

.popover-inner { width: auto;}
#tumblr { text-align: center; }
.img-tumblr-big, .note-globale { text-align: center; }

.groupes-tooltip
{
    position: absolute;
    text-decoration: none;
    width: 60px;
    padding-right: 10px;
    color: black;
    background-color: lightgrey;
    cursor: pointer;
}