<footer id="footer" class="clearfix">
	<div id="footer-content">
		<div class="footer-content-inner">
		</div><!--/.footer-content-inner-->
	</div><!--/#footer-content-->
	<div id="footer-aside">
		<div class="footer-aside-inner">
			<a href="#top" class="btn btn-top"><i class="icon-arrow-up"></i>Haut de page</a>
		</div><!--/.footer-aside-inner-->
	</div><!--/#footer-aside-->
</footer>
