<div id="admin-control">
	<a href="#" class="btn btn-success" id="play-video-button" role="button" data-toggle="modal" title="Lancer la lecture">
      <i class="icon-play icon-white"></i>
    </a>

    <a href="#" class="btn btn-success" id="pause-video-button" role="button" data-toggle="modal" title="Mettre en pause la lecture">
      <i class="icon-pause icon-white"></i>
    </a>

    <a href="#" class="btn btn-warning" id="skip-video-button" role="button" data-toggle="modal" title="Passer à la vidéo suivante">
      <i class="icon-fast-forward icon-white"></i>
    </a>

    <a href="#replace-video-modal"  id="replace-video-button" class="btn btn-danger" role="button" data-toggle="modal"  title="Remplacer la vidéo courante">
      <i class="icon-remove icon-white"></i>
    </a>
</div>