<div class="live-administration">
    <h3>Administration</h3>

    <a href="#" class="btn btn-success" id="play-video-button" role="button" data-toggle="modal" title="Lancer la lecture">
        <i class="icon-play icon-white"></i>
    </a>

    <a href="#" class="btn btn-success" id="pause-video-button" role="button" data-toggle="modal" title="Mettre en pause la lecture">
        <i class="icon-pause icon-white"></i>
    </a>

    <a href="#" class="btn btn-warning" id="skip-video-button" role="button" data-toggle="modal" title="Passer à la vidéo suivante">
        <i class="icon-fast-forward icon-white"></i>
    </a>

    <a href="#replace-video-modal"  id="replace-video-button" class="btn btn-danger" role="button" data-toggle="modal"  title="Remplacer la vidéo courante">
        <i class="icon-remove icon-white"></i>
    </a>
</div>

<div id="replace-video-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Remplacement d'une vidéo</h3>
    </div>
    <div class="modal-body">
        <div class="loader"></div>
        <div class="modal-content"></div>
    </div>
</div>

<script type="text/javascript">
    $("#play-video-button").click(function() {
        player.playVideo();
    });

    $("#pause-video-button").click(function() {
        player.pauseVideo();
    });

    $("#skip-video-button").click(function() {
        params = new Object();
        params.status = 0;

        livePlayer.seekNextVideo(params);
    });

    var replaceUrl = '{{ path('live_replace') }}';
    $("#replace-video-button").click(function() {
        livePlayer.getReplaceForm();
    });
</script>
