{% form_theme edit_form 'MongoboxCoreBundle:Form:mongobox_form_theme.html.twig' %}

{% if message is null %}
    <form id="form_replace_video">
        {{ form_widget(edit_form) }}
        <span class="btn btn-success" id="submit-replace-btn">Remplacer</span>
        {{ form_rest(edit_form) }}
    </form>

    <script type="text/javascript">
        $("#submit-replace-btn").click(function() {
            $('.loader').show();

            $.ajax({
                type: 'POST',
                url: replaceUrl,
                data: $('#form_replace_video').serialize()
            }).done(function(response) {
                $('.loader').hide();
                $('#replace-video-modal .modal-body').html(response);
            });
        });
    </script>
{% else %}
    {{ message }}
{% endif %}
