{% extends "MongoboxUsersBundle:User:layout.html.twig" %}

{% block title -%}- Listes favoris{%- endblock title %}

{% block body %}
<div class="hero-unit">
	{% include 'MongoboxUsersBundle:Favoris:navigation.html.twig' %}
</div>

{% endblock %}