{% extends "MongoboxUsersBundle:User:layout.html.twig" %}

{% block title -%}- Listes favoris{%- endblock title %}

{% block body %}
<div class="hero-unit">
	{% include 'MongoboxUsersBundle:Favoris:navigation.html.twig' %}
</div>
{% endblock %}

{% block css %}
	<link href="{{ asset('bundles/mongoboxusers/css/favoris.css') }}" rel="stylesheet">
{% endblock css %}

{% block javascripts %}
	<script src="{{ asset('bundles/mongoboxusers/js/listes.js') }}"></script>
{% endblock javascripts %}
