{% extends "MongoboxJukeboxBundle:Wall:layout.html.twig" %}

{% block title -%}- Tumblr Statistics{%- endblock title %}

{% block body %}
    <script src="{{ asset('bundles/mongoboxstatistics/js/highcharts.js') }}" type="text/javascript"></script>
    <div class="marketing">
        <h1>
            <img src="{{ asset('bundles/Mongoboxjukebox/img/logo/mongo-logo-large.png') }}" alt="{{project_name}}" title="{{project_name}}" />
        </h1>
        <h2>Statistiques du Tumblr</h2>
    </div>

    <div class="hero-unit">
        {% if statistics.timeline != false %}
            <div class="row" style="margin: 0;">
                {% include 'MongoboxStatisticsBundle:Tumblr:timeline.html.twig' with {'timeline': statistics.timeline} %}
            </div>
        {% endif %}

        <hr />

        {% if statistics.usersRanking != false %}
            <div class="row" style="margin: 0;">
                {% include 'MongoboxStatisticsBundle:Tumblr:users.html.twig' with {'usersRanking': statistics.usersRanking} %}
            </div>
        {% endif %}
    </div>
{% endblock body %}
