{% trans_default_domain 'FOSUserBundle' %}
<div class="row">
    <div class="col-md-6 col-sm-12 mt20">
        <fieldset>
            <legend>Modification du compte</legend>
            {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit mt10' } }) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'profile.edit.submit'|trans }}"/>
            </div>
            {{ form_end(form) }}
        </fieldset>
    </div>
</div>

