body {
    background-color: lightskyblue;
}

.container {
    background-color: white;
    box-shadow: #f5f5f5 1px 1px 19px ;
    -moz-box-shadow: #f5f5f5 1px 1px 19px;
    padding: 20px;
    width: 891px;
}

.logo {
    display: block;
    margin: 0 auto;
    max-width: 100%;

}
h3 {
    color: #777
}
.navigation{
    text-align: center;
}