<div class="sidebar-background">
    <div class="primary-sidebar-background"></div>
</div>

<div class="primary-sidebar">

    <!-- Main nav -->
    {{ knp_menu_render('MongoboxCoreBundle:AdminBuilder:build', {'allow_safe_labels': true}) }}

</div>