{% extends "MongoboxGroupBundle:Group:layout.html.twig" %}

{% block body %}
        
	<h1>Création d'un groupe</h1>
	<form action="{{ path('group_edit') }}" class="content-block form-inline" method="POST" {{ form_enctype(form) }} novalidate>
		{{ form_widget(form) }}

		<hr />
		<div>
			<input type="submit" class="btn btn-primary pull-right" value="Créer">
		</div>
	</form>
{% endblock body %}