{% extends "MongoboxGroupBundle:Group:layout.html.twig" %}

{% block body %}
        
	<h1>Invitation d'un utilisateur</h1>
	<form action="{{ path('group_invite', {'id' : group.id}) }}" class="content-block form-inline" method="POST" novalidate>
		{{ form_widget(form) }}

		<hr />
		<div>
			<input type="submit" class="btn btn-primary pull-right" value="Inviter">
		</div>
	</form>
{% endblock body %}

{% block javascripts %}
	<script type="text/javascript">
		$('#ajax_user_search_user').autocompleter({
			url_list: '{{ path('ajax_user_search') }}',
			url_get: 'users-ajax-get-user/'
		});

	</script>
{% endblock %}