{% extends "MongoboxGroupBundle:Group:layout.html.twig" %}

{% block body %}
	<h2>Liste des membres</h2>
	<div class="content-block">
		{% for user in group.users %}
			<a href="{{url('profile_user', {'id' : user.id})}}">
				<span class="group-user">
					{% include "MongoboxUsersBundle:User/Avatar:avatarBig.html.twig" %}
				</span>
			</a>
		{% endfor %}
	</div>
{% endblock body %}