{% extends "MongoboxGroupBundle:Group:layout.html.twig" %}

{% block title -%}- Accueil{%- endblock title %}

{% block body %}
<div class="hero-unit">
	<div class="groups">
		{% for group in groups %}
			<div class="well">
				{{group.title}} <a href="{{path('group_inscription', {'id' : group.id})}}">S'inscrire</a>
			</div>
		{% endfor %}
	</div>
	<a href="{{path('group_create')}}" class="btn btn-large">Créer un groupe</a>
</div>
{% endblock body %}
