/* ----------------------------------

User

------------------------------------ */
.group-user
{
    float: left;
    height: 50px;
    margin: 5px;
    padding: 5px;
    width: 200px;
}

.group-user:hover
{
	box-shadow: 1px 1px 12px black;
}

.btn-link
{
	padding : 1px;
}

.btn-link:hover {
	box-shadow: 1px 1px 5px black;
	background-color: #e0e0e0;
}

/* USER AVATAR */
.user-avatar .dropdown-toggle span {
    font-weight: 600;
}
.user-avatar a img {
    -webkit-box-shadow: 0 1px 3px #1e1e1e;
    -moz-box-shadow: 0 1px 3px #1e1e1e;
    box-shadow: 0 1px 3px #1e1e1e;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
.navbar-inverse .nav.full > li > a img {
    width: 32px;
    height: 32px;
}

.navbar-inverse .nav.full > li > a {
    height: 40px;
    line-height: 40px;
    padding: 3px 10px;
    margin-right: 10px;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}


.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #999999;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

.user-avatar a > span {
    position: relative;
}

.menu-avatar {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}