<div id="moyenne-{{ tumblr.id }}" class="moyenne-globale">Moyenne : {{ tumblr.moyenne }} {% include 'MongoboxTumblrBundle:Slider:infoVote.html.twig' %}</div>
<div class="star" id="rating-tumblr-popover-{{ tumblr.id }}" data-score="{{ app.user.getNoteForTumblr(tumblr.id) }}"></div>
