<div id="admin-control">
	<a href="#" class="btn btn-success" id="play-video-button" role="button" data-toggle="modal" title="Lancer la lecture">
      <i class="glyphicon glyphicon-play icon-white"></i>
    </a>

    <a href="#" class="btn btn-success" id="pause-video-button" role="button" data-toggle="modal" title="Mettre en pause la lecture">
      <i class="glyphicon glyphicon-pause icon-white"></i>
    </a>

    <a href="#" class="btn btn-warning" id="skip-video-button" role="button" data-toggle="modal" title="Passer à la vidéo suivante">
      <i class="glyphicon glyphicon-fast-forward icon-white"></i>
    </a>

    <button type="button" data-target="#replace-video-modal" id="replace-video-button" class="btn btn-danger" data-toggle="modal" title="Remplacer la vidéo courante">
      <i class="glyphicon glyphicon-remove icon-white"></i>
    </button>
</div>