{% if player_mode != "admin" %}
    <div id="live-admin-data">
        <a href="#" id="putsch-button" class="btn btn-primary" role="button">Devenir l'administrateur</a>
        {% if current_admin is not null %}
            <p>
                Actuellement : <b>{{ current_admin.firstname }} {{ current_admin.lastname }}</b> (<i>{{ current_admin.username }})</i>
            </p>
        {% endif %}
    </div>

    <div id="putsch-request-callback" style="display: none">
        <div style="text-align: center">
            <p>
                <b>Votre demande a bien été envoyée à l'administrateur actuel du live.</b><br />
                <i>Vous devez maintenant attendre sa réponse ou une minute.</i>
            </p>
        </div>
    </div>

    <div id="putsch-refuse-callback" style="display: none">
        <div style="text-align: center">
            <p>
                <img src="{{ asset('bundles/mongoboxjukebox/img/at-least-you-tried.jpg') }}" alt="nice try" title="Dommage !" />
            </p>
            <p>
                <b>Votre demande vient d'être rejetée par l'administrateur actuel !</b><br />
                <i>Réessayez un peu plus tard...</i>
            </p>
        </div>
    </div>
{% endif %}

<div id="putsch-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Tentative de putsch</h4>
            </div>
            <div class="modal-body">
                <div class="loader"></div>
                <div class="content"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
