{%- if permission.fail == 'group' -%}
<div style="text-align: center">
    <p>
        <img src="{{ asset('bundles/mongoboxjukebox/img/no.jpg') }}" alt="grumpy cat - no" title="No !" />
    </p>
    <p>
        <b>Quelqu'un essaye déjà de récupérer les droits d'administrateurs !</b><br />
        <i>Réessayez un peu plus tard...</i>
    </p>
</div>
{%- endif -%}

{%- if permission.fail == 'user-duplicate' -%}
<div style="text-align: center">
    <p>
        <img src="{{ asset('bundles/mongoboxjukebox/img/soon.jpg') }}" alt="grumpy cat - soon" title="Soon..." />
    </p>
    <p>
        <b>Un peu de patience ! Vous avez déjà une demande en attente...</b><br />
        <i>Vous devez attendre la réponse de l'administrateur actuel du live ou une minute.</i>
    </p>
</div>
{%- endif -%}

{%- if permission.fail == 'user-waiting' -%}
    <div style="text-align: center">
        <p>
            <img src="{{ asset('bundles/mongoboxjukebox/img/game.jpg') }}" alt="lolcat - game" title="It's not a game !" />
        </p>
        <p>
            <b>Un peu de patience ! Vous avez déjà effectué une demande récemment...</b><br />
            <i>Vous devez attendre quelques minutes avant de pouvoir essayer à nouveau.</i>
        </p>
    </div>
{%- endif -%}
