<a href="{{url('live_tag_select', {'id' : tag.id, 'id_group' : group.id, 'selected' : '1'})}}" class="btn btn-success admin-tag-video-action">Il passe</a>
<a href="{{url('live_tag_select', {'id' : tag.id, 'id_group' : group.id, 'selected' : '0'})}}" class="btn btn-danger admin-tag-video-action">Il ne passe pas</a>