<h3>{{title}}</h3>
<ul>
{% for video in video_listing %}
		<li>{{video.title}} <a href="#" rel="{{video.url}}" class="btn video_search_send btn-small"><span class="icon-plus"></span></a></li>
{% endfor %}
</ul>