<div class="tag-video alert alert-info">
	<span>{{ tag.name }}</span>
	<a href="{{path('delete_tag_video', {'id_tag' : tag.id, 'id_video' : video.id})}}" class="delete-tag-video"><i class="icon-remove"></i></a>
</div>