<div id="users-avg-vote-container"></div>
<script type="text/javascript">
    $(function () {
        var userAvgVoteChart;
        $(document).ready(function() {
            userAvgVoteChart = new Highcharts.Chart({
                chart: {
                    renderTo: 'users-avg-vote-container',
                    type: 'column',
                    margin: [ 50, 50, 100, 80]
                },
                title: {
                    text: 'Classement des dix meilleurs contributeurs par moyenne des votes'
                },
                xAxis: {
                    categories: {{ usersAvgVoteRanking.xAxis|json_encode|raw }},
                    labels: {
                        rotation: -45,
                        align: 'right',
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Moyenne des notes / personne'
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    formatter: function() {
                        return '<b>' + this.x + '</b><br/>' +
                                Highcharts.numberFormat(this.y, 2) + ' votes / vidéo'
                    }
                },
                series: [{
                    name: 'Population',
                    data: {{ usersAvgVoteRanking.data|json_encode|raw }},
                    dataLabels: {
                        enabled: true,
                        rotation: -90,
                        color: '#FFFFFF',
                        align: 'right',
                        x: 4,
                        y: 10,
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                }]
            });
        });
    });
</script>
